body{
font-family: Arial, sans-serif;
background-color: white;
display:flex;
justify-content:center;
align-items :center;
margin:0;
}

.quizContainer{
 background-color: white;
padding: 20px; 
border-radius: 10px;
box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
width: 80%;
max-width: 1000px;
}

.question{
background-color: rgb(40, 223, 223);
padding:20px;
border-radius: 20px;
box-shadow: 10 10 100px rgba(0, 0, 0, 0.9);

}